[submodule "hw/deps/migen"]
	path = hw/deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "hw/deps/litex"]
	path = hw/deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "hw/deps/litescope"]
	path = hw/deps/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "hw/deps/litedram"]
	path = hw/deps/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "hw/deps/valentyusb"]
	path = hw/deps/valentyusb
	url = https://github.com/im-tomu/valentyusb.git
[submodule "hw/deps/litex-boards"]
	path = hw/deps/litex-boards
	url = https://github.com/zeldin/litex-boards.git
	branch = orangecart
[submodule "hw/deps/spibone"]
	path = hw/deps/spibone
	url = https://github.com/xobs/spibone.git
[submodule "hw/deps/pythondata-cpu-vexriscv"]
	path = hw/deps/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
[submodule "hw/deps/pythondata-software-compiler_rt"]
	path = hw/deps/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "hw/deps/litehyperram"]
	path = hw/deps/litehyperram
	url = https://github.com/zeldin/litehyperram.git
